@{
    ViewData["Title"] = "Home Page";
}

<h3>Home Page</h3>

<p>Singleton => @ViewBag.SingletonService  ||  SingleTon SubService =>  @ViewBag.SingletonSubService</p>
<p>Scoped =>  @ViewBag.ScopedService  || Scoped SubService =>  @ViewBag.ScopedSubService</p>
<p>Transient =>  @ViewBag.TransientService  ||   Transient SubService =>  @ViewBag.TransientSubService<p/>









