@{
    ViewData["Title"] = "Privacy Policy";
}

<h3>Privacy Page</h3>

<p>Singleton Value => @ViewBag.SingletonService  ||  SingleTon SubService =>  @ViewBag.SingletonSubService</p>
<p>Scoped Value =>  @ViewBag.ScopedService  || Scoped SubService =>  @ViewBag.ScopedSubService</p>
<p>Transient Value =>  @ViewBag.TransientService  ||   Transient SubService =>  @ViewBag.TransientSubService<p />

